<!DOCTYPE html>
<html>
  <head>
    <title>Geo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style = "height:30px; background:silver;" >
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path , method: :delete %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
